/******************************************************************
* Description: Stlye Sheet for home page
* Author: Michael Columbus
* css 1
******************************************************************/
/*for body color*/

body {
    background-color:#F93;
}
/*for link color*/
A {
	color:#3F0;
	
	
}
/*for link hover*/
A:hover {
 hover:#F00 
}

A:active {
	color:#666
	
}
/*for Navbar layout*/
#Navbar {
	
	background-color:#609
	padding:5px;
	float:left;
	margin-top:100px;	
	margin-left:50PX;
	border:2px solid gray;
	text-align:center;
	text-wrap:normal;
	font-size:30px;
	
	
}

/* company logo layout */

#companyLogo {
	
	
	padding:0px;
	margin-top:10px;
	margin-left:10px;
	float:left;
	
		
}
	
	
/* layout for div */	

#tag {
	clear:both;
	margin-top:0px;
	margin-right:400px;
	padding:10px;
	border:2px solid gray;
	float:right;
	
}

#panel {
	clear:both;
	margin-top:0px;
	margin-right:100px;
	padding:10px;
	border:5px solid gray;
	float:right;
}

/* footer layout */

footer {
	clear:both;
	margin-left: 400px;
}