@charset "utf-8";
/******************************************************************
* Description: Stlye Sheet for about page
* Author: Michael Columbus
* css 2
******************************************************************/
/*for body color*/


body {
	background-color:#FF0;
}

/*for link color*/

A {
	color:#3F0;
	
}

/*for link hover*/

A:hover {
 color: Red 
}

A:active {
	color:#666
}

/*for Navbar layout*/

#Navbar {
	
	padding:0px;
	float:left;
	margin-top:100px;	
	margin-left:150PX;
	border:2px solid gray;
	width:400px;
	text-align:center;
	text-wrap:normal;
	
}

/*for bio layout*/	

#bio {
	clear:both;
	margin-left: 300px;
}

/*for Project image layout*/

#Project {
	clear:both;
	margin-top: 100px;
	margin-left: 100px;
}
/*for contact detail layout*/
#contact {
	clear:both;
	margin-top: 100px;
	margin-left: 100px;
}

/* div layout */

#panel {
	margin-top: 100px;
	margin-left: 100px;
}

/*for servics detail layout*/

#servics {
	clear:both;
	margin-top: 20px;
	margin-left: 250px;	
}

/* the footer for the web page. */

footer {
	clear:both;
	margin-left: 250px;
}

