/******************************************************************
* Description: Stlye Sheet for home page
* Author: Michael Columbus
* css 3
******************************************************************/

body{
	background-color:#609;
}

#Project {
	margin: 300px;
	text-align:center;
}